<div class="card">
    <div class="">
        <img src="https://source.unsplash.com/random/400x400?sig=1" alt="">
    </div>
    <div class="card-bottom">
        Modi ut qui consequuntur quia ut aliquid. Modi ut qui consequuntur quia ut aliquid.  <br>

        <div class="card-button"><i class="feather-small" data-feather="file-text"></i> Paper</div>
        <div class="card-button"><i class="feather-small" data-feather="code"></i> Code</div>
        <div class="card-button"><i class="feather-small" data-feather="archive"></i> Data</div>
    </div>
</div>