<div class="nav">
    <div class="nav-item"><a href="/research.html">Research</a></div>
    <div class="nav-item"><a href="/">Publications</a></div>
    <div class="nav-item"><a href="/people.html">People</a></div>
    <div class="nav-item"><a href="/news.html">News</a></div>
    <div class="nav-item"><a href="/">Funding</a></div>
    <div class="nav-item"><a href="/contact.html">Contact</a></div>
    <div class="nav-item"><a href="/">Open Positions</a></div>
    <a class="logo" href="https://www.fz-juelich.de/de"><img src="{{ site.url }}/assets/images/fzj-logo.svg" alt=""></a>
</div>